h1.title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 0px;
}

h2.subtitle {
	text-align: center;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 12px;
}

